// Estilos para mat-chip
.mat-chip {
  --background-color: #e0e0e0; // Um cinza claro, exemplo
  --color: #c22c2c; // Cor do texto
}

// Estilos para mat-form-field
.mat-form-field.chip-list .mat-form-field-underline {
  background-color: blue; // Cor da linha quando focado
}

.mat-form-field.chip-list .mat-form-field-label {
  color: darkblue; // Cor do label
}
