
<mat-form-field class="chip-list" *ngIf="tags">
  <mat-chip-grid #chipGrid aria-label="Tags selection">
    <mat-chip-row *ngFor="let tag of selectedTags" (removed)="remove(tag)">
      {{tag.name}}
      <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <input placeholder="New Tag..." #tagInput [formControl]="tagsCtrl"
    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    (matChipInputTokenEnd)="add($event)"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
      {{tag.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

